$colors: (
	'black': #000000,
	gray-dark: #333333,
	gray-mid: #595959,
	gray-light: #ebebeb,
	'white': #ffffff,
	primary: #1d274a,
	secondary: #fffdac
);

$weights: (
	semibold: 600,
	normal: 500
);

$spacing: (
	x-large: 4rem,
	large: 2rem,
	medium: 1rem,
	small: 0.5rem,
	x-small: 0.25rem
);

$breakpoints: (
	mobile: 50rem
);
