@import './highlighting.css';
@import './reset';
@import './config';
@import './mixins';
@import './typography';

@import './partials/date';
@import './partials/header';
@import './partials/hero';
@import './partials/posts';
@import './partials/pagination';

html {
	scroll-behavior: smooth;
}

body {
	background-color: map-get($colors, 'white');
	min-height: 100vh;

	main {
		margin: map-get($spacing, 'x-large') * 2 auto map-get($spacing, 'x-large');
		max-width: 45rem;
		padding: 0 map-get($spacing, 'medium');

		@include mobile {
			margin-top: map-get($spacing, 'large');
		}

		a {
			border-bottom: 0.1em solid map-get($colors, 'primary');
			transition: border 0.25s, box-shadow 0.25s;

			&:hover {
				box-shadow: inset 0 -0.5em 0 map-get($colors, 'secondary');
				border-bottom: 0.1em solid map-get($colors, 'secondary');
			}

			&:focus {
				box-shadow: inset 0 -0.5em 0 map-get($colors, 'secondary');
				border-bottom: 0.1em solid map-get($colors, 'secondary');
				outline: 0.1em solid map-get($colors, 'primary');
				outline-offset: map-get($spacing, 'x-small');
			}
		}
	}

	@media (prefers-reduced-motion: reduce) {
		*,
		*::before,
		*::after {
			animation-duration: 0.001ms !important;
			animation-iteration-count: 1 !important;
			scroll-behavior: auto;
			transition-duration: 0.001ms !important;
		}
	}
}
