<div class="hero">
  <h1><%= title %></h1>
  <% if locals[:date] %>
    <%= partial 'partials/date', locals: { date: date } %>
  <% end %>
  <% if locals[:intro] %>
    <p><%= intro %></p>
  <% end %>
</div>