---
title: "Front-end developer"
description: |
  I am a front-end web developer based in Bordeaux, France. The main focus of my work is to build accessible, inclusive and user-friendly web interfaces for people I like to work with. I've collaborate on diverse projects such as <a href="https://todoist.com/templates" target="_blank">Todoist</a>, <a href="https://aircall.io/" target="_blank">Aircall</a> or <a href="https://help.payfit.com/hc/" target="_blank">Payfit</a>. You can find some of my work on <a href="https://github.com/bellangerq" target="_blank">GitHub</a> and drop me a line on <a href="https://twitter.com/bellanger_q" target="_blank">Twitter</a>. Otherwise I am a minimalist and I enjoy gaming, eSport, writing and basketball. Here are some of my blog posts."
---

<%= partial 'partials/hero', locals: { title: current_page.data.title, description: current_page.data.description } %>

<section>
  <%= partial 'partials/posts', locals: { allLink: true, articles: blog.articles[0...3] } %>
</section>

<%= partial 'partials/pagination' %>
